Repository cidverse/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pull-request/helm-build [chart-library], pull-request/helm-build [keycloak], pull-request/helm-lint [chart-library], pull-request/helm-lint [keycloak]

pull-request/helm-build [chart-library]:
  tags:
  - saas-linux-small-amd64
  allow_failure: false
  interruptible: true
  retry:
    max: 2
    when:
    - runner_system_failure
    - api_failure
    - scheduler_failure
  stage: build
  needs: []
  dependencies: []
  timeout: 10m
  script:
  ...

pull-request/helm-build [keycloak]:
  tags:
  - saas-linux-small-amd64
  allow_failure: false
  interruptible: true
  retry:
    max: 2
    when:
    - runner_system_failure
    - api_failure
    - scheduler_failure
  stage: build
  needs: []
  dependencies: []
  timeout: 10m
  script:
  ...

pull-request/helm-lint [chart-library]:
  tags:
  - saas-linux-small-amd64
  allow_failure: false
  interruptible: true
  retry:
    max: 2
    when:
    - runner_system_failure
    - api_failure
    - scheduler_failure
  stage: lint
  needs: []
  dependencies: []
  timeout: 10m
  script:
  ...

pull-request/helm-lint [keycloak]:
  tags:
  - saas-linux-small-amd64
  allow_failure: false
  interruptible: true
  retry:
    max: 2
    when:
    - runner_system_failure
    - api_failure
    - scheduler_failure
  stage: lint
  needs: []
  dependencies: []
  timeout: 10m
  script:
  ...

chore: set keycloak chart version to 0.1.0
  charts/keycloak/Chart.yaml
Due: pull-request/helm-build [keycloak], pull-request/helm-lint [keycloak]

feat: support custom labels in keycloak chart
  charts/chart-library/templates/_ingress.tpl
Due: pull-request/helm-build [chart-library], pull-request/helm-lint [chart-library]

ci: apply workflow configuration changes
  .cid/scripts/install.sh
  .cid/state-gitlab.json
  .gitlab-ci.yml
Due: none

ci: apply workflow configuration changes
  .cid/state-gitlab.json
  .gitlab-ci.yml
Due: none

ci: update cid from 0.8.0 to 0.9.0
  .cid/state-gitlab.json
  .gitlab-ci.yml
Due: none

feat: add postgresql chart
  charts/chart-library/templates/_env.tpl
  charts/chart-library/templates/_pvc.tpl
  charts/chart-library/templates/_statefulset.tpl
  charts/postgresql/.helmignore
  charts/postgresql/Chart.lock
  charts/postgresql/Chart.yaml
  charts/postgresql/templates/NOTES.txt
  charts/postgresql/templates/pvc.yaml
  charts/postgresql/templates/service-headless.yaml
  charts/postgresql/templates/service.yaml
  charts/postgresql/templates/serviceaccount.yaml
  charts/postgresql/templates/statefulset.yaml
  charts/postgresql/values.example.yaml
  charts/postgresql/values.yaml
Due: pull-request/helm-build [chart-library], pull-request/helm-lint [chart-library]

feat: update keycloak to 26.5.6
  charts/keycloak/Chart.yaml
  charts/keycloak/values.yaml
Due: pull-request/helm-build [keycloak], pull-request/helm-lint [keycloak]

fix: add missing license
  LICENSE
Due: none

feat: add garagehq chart
  charts/chart-library/Chart.yaml
  charts/chart-library/templates/_notes.tpl
  charts/chart-library/templates/_route.tpl
  charts/chart-library/templates/_service-headless.tpl
  charts/garagehq/.helmignore
  charts/garagehq/Chart.lock
  charts/garagehq/Chart.yaml
  charts/garagehq/templates/NOTES.txt
  charts/garagehq/templates/_helpers.tpl
  charts/garagehq/templates/config-secret.yaml
  charts/garagehq/templates/ingress.yaml
  charts/garagehq/templates/pvc.yaml
  charts/garagehq/templates/route.yaml
  charts/garagehq/templates/service-headless.yaml
  charts/garagehq/templates/service.yaml
  charts/garagehq/templates/serviceaccount.yaml
  charts/garagehq/templates/statefulset.yaml
  charts/garagehq/values.example.yaml
  charts/garagehq/values.yaml
  charts/postgresql/Chart.lock
  charts/postgresql/Chart.yaml
  charts/postgresql/values.yaml
Due: pull-request/helm-build [chart-library], pull-request/helm-lint [chart-library]

feat: add photon chart
  charts/chart-library/Chart.yaml
  charts/chart-library/templates/_deployment.tpl
  charts/chart-library/templates/_service-headless.tpl
  charts/chart-library/templates/_service.tpl
  charts/chart-library/templates/_statefulset.tpl
  charts/garagehq/Chart.lock
  charts/keycloak/Chart.lock
  charts/photon/.helmignore
  charts/photon/Chart.lock
  charts/photon/Chart.yaml
  charts/photon/dashboards/photon-dashboard-non-technical.json
  charts/photon/dashboards/photon-dashboard-technical.json
  charts/photon/templates/NOTES.txt
  charts/photon/templates/ingress.yaml
  charts/photon/templates/pvc.yaml
  charts/photon/templates/route.yaml
  charts/photon/templates/service-headless.yaml
  charts/photon/templates/service.yaml
  charts/photon/templates/serviceaccount.yaml
  charts/photon/templates/statefulset.yaml
  charts/photon/values.example.yaml
  charts/photon/values.yaml
Due: pull-request/helm-build [chart-library], pull-request/helm-build [keycloak], pull-request/helm-lint [chart-library], pull-request/helm-lint [keycloak]

fix: set postgres auth method to not allow pwless logins
  charts/postgresql/values.yaml
Due: none

chore(deps): update docker.io/library/postgres docker tag to v18.4
  charts/postgresql/values.yaml
Due: none

Path conditions:
  pull-request/helm-build [chart-library]: any of: charts/chart-library/**/*
  pull-request/helm-build [keycloak]: any of: charts/keycloak/**/*
  pull-request/helm-lint [chart-library]: any of: charts/chart-library/**/*
  pull-request/helm-lint [keycloak]: any of: charts/keycloak/**/*
